nav {
    background-color: #f3eaf3;
}

.card {
    background-color: #f3eaf3;
}

button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #3d2c3a;
    color: white;
}

button:hover {
    background-color: #c39fd3;
    color: #3d2c3a;
}

/*cart.html style - Cart*/
table {
    table-layout: fixed;
    width: 100%;
}
.delete {
    background-color: #FF0000;
    color: white;
}
.delete:hover {
    background-color: #A40000;
    color: white;
}
.delete-row {
    margin: 0;
    padding: 0 1rem;
}
#total-cart {
    font-weight: bold;
    text-align: right;
}

/*cart.html style - Form*/
.form-container {
    margin: 1rem 0;
}
label {
    padding-right: 0.5rem;
    margin-top: 0.5rem;
}

#submit {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #34DE3E;
}

#submit:hover {
    background-color: lightgreen;
}

/*order-confirmation.html style*/
#order-content {
    background-color: #f3eaf3;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 2rem;
}

li {
    list-style-type: none;
}