<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Votre panier | Orinoco</title>
    <meta type="description" content="" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script src="../GlobalFunctions.js" defer></script>
    <script src="./cart.js" defer></script>
    <script src="../formValidation.js" defer></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light static-top">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <img src="../images/logo.png" alt="logo Orinoco">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Nos produits
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Panier
                            <span id="qty-in-cart"></span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Votre panier
            <small>Secondary Text</small>
        </h1>

        <div class="table-container table-responsive-sm">
            <table id="cart" class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Couleur</th>
                        <th>PU</th>
                        <th>Qté</th>
                        <th>Prix</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cart-content">

                </tbody>
            </table>
            <p id="total-cart">Total panier TTC : 0.00 €</p>
            <button id="delete-cart" class="delete">Vider le panier</button>
        </div>
        <div class="form-container">
            <h2>Vos informations de commande</h2>
            <form id="order-information" action="./order-confirmation.html">
                <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" required />

                    <label for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" required />

                    <fieldset>
                        <label for="address">Adresse</label>
                        <input type="text" class="form-control" id="address" required />

                        <label for="city">Ville</label>
                        <input type="text" class="form-control" id="city" required />
                    </fieldset>

                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required />

                    <input id="submit" type="submit" value="Envoyer" />
                </div>
            </form>
        </div>


    </div>
    <!-- /.container -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>